@font-face {
    font-family: playfairSemiBold;
    src: url(fonts/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
    font-family: playfairMed;
    src: url(fonts/PlayfairDisplay-Medium.ttf);
}

@font-face {
    font-family: workSansMed;
    src: url(fonts/WorkSans-Medium.ttf);
}

@font-face {
    font-family: workSansReg;
    src: url(fonts/WorkSans-Regular.ttf);
}


*{
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.container{
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
}

.defaultButton{
    font-family: workSansReg;
    font-size: 16px;
    border: none;
    padding: 8px 24px;
    color: #FFFFFF;
    background-color: #2094E6;
}

.defaultButton:hover{
    color: #2094E6;
    background-color: #FFFFFF;
    transition: 0.6s;
    cursor: pointer;
}

.secondArticle .defaultButton:hover{
    color: #2094E6;
    background-color: #FFFFFF;
    border: solid 1px #2094E6;
    transition: 0.6s;
    cursor: pointer;
}

.mainHeader{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
    z-index: 2;
    width: 100%;
}

.mainHeader .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 1024px){
    .mainHeader .navBar{
        display: none;
    }
    .mainHeader .logo{
        margin: 0 auto;
    }
    .mainArticle{
        margin: 0 auto;
    }
    .mainArticle .h1{
        font-size: 24px;
    }
    .mainArticle p{
        font-size: 9px;
    }
    .backgroundImage{
        height: 100%;
        width: 100%;
    }
}

ul{
    display: flex;
    gap: 50px;
}

li{
    font-family: workSansMed;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}

.headerRightNav li a{
    text-decoration: none;
    color: #FFFFFF
}

.navBar{
    display: flex;
    align-items: center;
}

.headerRightNav{
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.logo{
    display: flex;
    justify-content: flex-start;
}

.heroSection{
    display: flex;
    align-items: center;
    width:  100%;
    min-height: 660px;
}

.backgroundImage{
    position: absolute;
    width: 100%;
    min-height: 660px;
    z-index: 0;
    left: 0;
    top: 0;
}

.backgroundImage img{
    width: 100%;
    height: 100%;
}

.backgroundImage::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.mainArticle{
    position: relative;
    max-width: 592px;
    max-height: 323px;
    z-index: 2;
}

.secondArticle{
    position: relative;
    align-self: center;
    margin-left: 45px;
    max-width: 486px;
    max-height: 385px;
    z-index: 2;
}

.sectionTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 275px;
}

.sectionThree{
    display: flex;
    gap: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.sectionThree .infoBox{
    background-color: #FFFFFF;
    min-width: 285px;
    min-height: 233px;
    padding: 20px 30px;
    border: none;
    box-shadow: 1px 1px 6px rgb(202, 201, 201);
    cursor: pointer;
}

.twoImages{
    width: 667px;
    height: 546px;
}

.twoImages .waterfall{
    align-self: flex-start;
    z-index: 1;
    padding: 8px;
    border-left: solid 2px #E3DEC1;
    border-bottom: solid 2px #E3DEC1;
    border-right: solid 2px #E3DEC1;
}

.twoImages .mountains{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

h1{
    font-family: playfairSemiBold;
    font-size: 60px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

h2{
    font-family: playfairMed;
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 10px; 
    color: #121212;
}

h3{
    font-family: playfairMed;
    font-size: 24px;
    margin-top: 14px;
}

.mainArticle p{
    font-family: workSansReg;
    font-size: 18px;
    margin-bottom: 24px;
    color: #FFFFFF;
}

.secondArticle p{
    font-family: workSansReg;
    font-size: 18px;
    margin-bottom: 20px;
    color: #333333;
}

.sectionThree p{
    font-family: workSansReg;
    font-size: 16px;
    margin-top: 15px;
    color: #333333;
}

.secondArticle .aboutUs{
    font-family: playfairMed;
    font-size: 18px;
    color: #2094E6;
}

